<div class="header sticky top-0 w-full flex justify-between items-center drop-shadow-md bg-green-500/75 backdrop-blur-sm">
    <div class="title text-xl sm:text-2xl font-bold"><h1 class="text-green-50"><a routerLink="/">2023 Psychedelic Symposium</a></h1></div>
    <nav class="flex sm:justify-center space-x-4">
        <a routerLink="/news" class="rounded-lg p-0 sm:px-1 py-1 text-green-50 font-small sm:font-medium">Registration</a>
        <a routerLink="/news"class="rounded-lg p-0 sm:px-1 py-1 text-green-50 font-small sm:font-medium">News</a>
        <a routerLink="/news" class="rounded-lg p-0 sm:px-1 py-1 text-green-50 font-small sm:font-medium">Resources</a>
    </nav>
</div>