<div class="header sticky top-0 flex justify-between items-center drop-shadow-md bg-green-500/75 backdrop-blur-sm">
    <div class="title text-2xl font-bold"><h1 class="text-green-50">2023 Psychedelic Symposium</h1></div>
    <div class="nav grid grid-cols-3 gap-3">
        <a href="#" class="text-green-50 text-left ease-in-out duration-300 hover:font-bold">Registration</a>
        <a href="#" class="text-green-50 text-center ease-in-out duration-300 hover:font-bold">News</a>
        <a href="#" class="text-green-50 text-center ease-in-out duration-300 hover:font-bold">Resources</a>
    </div>
</div>