<div class="main-content w-100 flex flex-col justify-center items-center p-3">
    <div #update1 class="post big-content bg-green-300 
    flex flex-col
    justify-start
    items-left
    p-2 rounded-lg
    w-full
    drop-shadow-sm
    divide-y
    divide-green-500
    my-2
    fade"
    [ngClass]="{'show':update1InView === true, 'hide':update1InView === false}">
        <div class="postHeading text-left text-green-50 flex justify-between items-center mb-1"><h1 class="font-bold text-left text-lg sm:text-xl">Update 1</h1><p class="f">3/1/2023</p></div>
        <div class="postContent">
            <p class="text-green-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc eget nisi dignissim luctus sed ut turpis. Integer vitae odio ante. Nulla in feugiat augue. Aliquam imperdiet porttitor est, a pulvinar velit tincidunt eget. Etiam consequat massa risus, ut vehicula felis malesuada dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in scelerisque lorem. Mauris pellentesque vestibulum nulla, ornare posuere ipsum elementum et. Donec euismod libero eget ipsum condimentum, a viverra urna ullamcorper. Sed in justo maximus, maximus orci sit amet, vehicula justo. Nulla nec velit a purus blandit fermentum. Aliquam et volutpat dolor. Integer non bibendum enim, sit amet aliquam ex. Curabitur laoreet nisi eget purus venenatis varius. Nunc vestibulum pellentesque mauris. Phasellus id tincidunt leo.
            </p>
        </div>
    </div>
    <div #update2 class="post big-content bg-green-300 
    flex flex-col
    justify-start
    items-left
    p-2 rounded-lg
    w-full
    drop-shadow-sm
    divide-y
    divide-green-500
    my-2
    fade"
    [ngClass]="{'show':update2InView === true, 'hide':update2InView === false}">
        <div class="postHeading text-left text-green-50 flex justify-between items-center mb-1"><h1 class="font-bold text-left text-lg sm:text-xl">Update 2</h1><p class="f">3/1/2023</p></div>
        <div class="postContent">
            <p class="text-green-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc eget nisi dignissim luctus sed ut turpis. Integer vitae odio ante. Nulla in feugiat augue. Aliquam imperdiet porttitor est, a pulvinar velit tincidunt eget. Etiam consequat massa risus, ut vehicula felis malesuada dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in scelerisque lorem. Mauris pellentesque vestibulum nulla, ornare posuere ipsum elementum et. Donec euismod libero eget ipsum condimentum, a viverra urna ullamcorper. Sed in justo maximus, maximus orci sit amet, vehicula justo. Nulla nec velit a purus blandit fermentum. Aliquam et volutpat dolor. Integer non bibendum enim, sit amet aliquam ex. Curabitur laoreet nisi eget purus venenatis varius. Nunc vestibulum pellentesque mauris. Phasellus id tincidunt leo.
            </p>
        </div>
    </div>
    <div #update3 class="post big-content bg-green-300 
    flex flex-col
    justify-start
    items-left
    p-2 rounded-lg
    w-full
    drop-shadow-sm
    divide-y
    divide-green-500
    my-2
    fade"
    [ngClass]="{'show':update3InView === true, 'hide':update3InView === false}">
        <div class="postHeading text-left text-green-50 flex justify-between items-center mb-1"><h1 class="font-bold text-left text-lg sm:text-xl">Update 3</h1><p class="f">3/1/2023</p></div>
        <div class="postContent">
            <p class="text-green-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc eget nisi dignissim luctus sed ut turpis. Integer vitae odio ante. Nulla in feugiat augue. Aliquam imperdiet porttitor est, a pulvinar velit tincidunt eget. Etiam consequat massa risus, ut vehicula felis malesuada dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in scelerisque lorem. Mauris pellentesque vestibulum nulla, ornare posuere ipsum elementum et. Donec euismod libero eget ipsum condimentum, a viverra urna ullamcorper. Sed in justo maximus, maximus orci sit amet, vehicula justo. Nulla nec velit a purus blandit fermentum. Aliquam et volutpat dolor. Integer non bibendum enim, sit amet aliquam ex. Curabitur laoreet nisi eget purus venenatis varius. Nunc vestibulum pellentesque mauris. Phasellus id tincidunt leo.
            </p>
        </div>
    </div>
    <div #update4 class="post big-content bg-green-300 
    flex flex-col
    justify-start
    items-left
    p-2 rounded-lg
    w-full
    drop-shadow-sm
    divide-y
    divide-green-500
    my-2
    fade"
    [ngClass]="{'show':update4InView === true, 'hide':update4InView === false}">
        <div class="postHeading text-left text-green-50 flex justify-between items-center mb-1"><h1 class="font-bold text-left text-lg sm:text-xl">Update 4</h1><p class="f">3/1/2023</p></div>
        <div class="postContent">
            <p class="text-green-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc eget nisi dignissim luctus sed ut turpis. Integer vitae odio ante. Nulla in feugiat augue. Aliquam imperdiet porttitor est, a pulvinar velit tincidunt eget. Etiam consequat massa risus, ut vehicula felis malesuada dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in scelerisque lorem. Mauris pellentesque vestibulum nulla, ornare posuere ipsum elementum et. Donec euismod libero eget ipsum condimentum, a viverra urna ullamcorper. Sed in justo maximus, maximus orci sit amet, vehicula justo. Nulla nec velit a purus blandit fermentum. Aliquam et volutpat dolor. Integer non bibendum enim, sit amet aliquam ex. Curabitur laoreet nisi eget purus venenatis varius. Nunc vestibulum pellentesque mauris. Phasellus id tincidunt leo.
            </p>
        </div>
    </div>
    <div #update5 class="post big-content bg-green-300 
    flex flex-col
    justify-start
    items-left
    p-2 rounded-lg
    w-full
    drop-shadow-sm
    divide-y
    divide-green-500
    my-2
    fade"
    [ngClass]="{'show':update5InView === true, 'hide':update5InView === false}">
        <div class="postHeading text-left text-green-50 flex justify-between items-center mb-1"><h1 class="font-bold text-left text-lg sm:text-xl">Update 5</h1><p class="f">3/1/2023</p></div>
        <div class="postContent">
            <p class="text-green-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc eget nisi dignissim luctus sed ut turpis. Integer vitae odio ante. Nulla in feugiat augue. Aliquam imperdiet porttitor est, a pulvinar velit tincidunt eget. Etiam consequat massa risus, ut vehicula felis malesuada dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in scelerisque lorem. Mauris pellentesque vestibulum nulla, ornare posuere ipsum elementum et. Donec euismod libero eget ipsum condimentum, a viverra urna ullamcorper. Sed in justo maximus, maximus orci sit amet, vehicula justo. Nulla nec velit a purus blandit fermentum. Aliquam et volutpat dolor. Integer non bibendum enim, sit amet aliquam ex. Curabitur laoreet nisi eget purus venenatis varius. Nunc vestibulum pellentesque mauris. Phasellus id tincidunt leo.
            </p>
        </div>
    </div>
    <div #update6 class="post big-content bg-green-300 
    flex flex-col
    justify-start
    items-left
    p-2 rounded-lg
    w-full
    drop-shadow-sm
    divide-y
    divide-green-500
    my-2
    fade"
    [ngClass]="{'show':update6InView === true, 'hide':update6InView === false}">
        <div class="postHeading text-left text-green-50 flex justify-between items-center mb-1"><h1 class="font-bold text-left text-lg sm:text-xl">Update 6</h1><p class="f">3/1/2023</p></div>
        <div class="postContent">
            <p class="text-green-50">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc eget nisi dignissim luctus sed ut turpis. Integer vitae odio ante. Nulla in feugiat augue. Aliquam imperdiet porttitor est, a pulvinar velit tincidunt eget. Etiam consequat massa risus, ut vehicula felis malesuada dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis in scelerisque lorem. Mauris pellentesque vestibulum nulla, ornare posuere ipsum elementum et. Donec euismod libero eget ipsum condimentum, a viverra urna ullamcorper. Sed in justo maximus, maximus orci sit amet, vehicula justo. Nulla nec velit a purus blandit fermentum. Aliquam et volutpat dolor. Integer non bibendum enim, sit amet aliquam ex. Curabitur laoreet nisi eget purus venenatis varius. Nunc vestibulum pellentesque mauris. Phasellus id tincidunt leo.
            </p>
        </div>
    </div>
</div>