<div class="flex flex-col bg-green-300 p-5 rounded-lg drop-shadow-md w-96 m-2">
    <img class="ease-in-out duration-300 hover:drop-shadow-md rounded-sm" src="../../../assets/47d04f9f5a1002e6b212ea8c8f54cc4bdf30987e.jpg"/>
    <h1 class="font-bold text-xl text-green-50">Why?</h1>
    <p class="text-green-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at varius diam. Curabitur blandit, neque id laoreet volutpat, ante leo efficitur tellus, eu convallis felis lacus dictum metus.</p>
</div>